reference/schema/ISO21090ReferenceService/MyObject.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.reference.iso21090.nci.nih.gov/entities/MyObject" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns6="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns0="http://reference.iso21090.nci.nih.gov" xmlns:ns1="uri:iso.org:21090" xmlns:ns8="http://service.reference.iso21090.nci.nih.gov/entities/MyObject/types" xmlns:ns3="http://service.reference.iso21090.nci.nih.gov/ISO21090ReferenceService/types" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns2="http://iso21090.nci.nih.gov" xmlns:ns7="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" name="MyObject" targetNamespace="http://service.reference.iso21090.nci.nih.gov/entities/MyObject">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://service.reference.iso21090.nci.nih.gov/entities/MyObject" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://reference.iso21090.nci.nih.gov" schemaLocation="./ReferenceObjects.xsd" />
      <import namespace="uri:iso.org:21090" schemaLocation="./ISO_datatypes_Narrative.xsd" />
      <import namespace="http://service.reference.iso21090.nci.nih.gov/entities/MyObject/types" schemaLocation="./MyObjectTypes.xsd" />
      <import namespace="http://service.reference.iso21090.nci.nih.gov/ISO21090ReferenceService/types" schemaLocation="./ISO21090ReferenceServiceTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://iso21090.nci.nih.gov" schemaLocation="./ISO_extensions.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <element name="GetByIdRequest">
        <complexType>
          <sequence>
            <element name="id">
              <complexType>
                <sequence>
                  <element ref="ns2:Id" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetByIdResponse">
        <complexType>
          <sequence>
            <element ref="ns0:MyObject" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateRequest">
        <complexType>
          <sequence>
            <element name="myObject">
              <complexType>
                <sequence>
                  <element ref="ns0:MyObject" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CreateResponse">
        <complexType>
          <sequence>
            <element ref="ns2:Id" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateRequest">
        <complexType>
          <sequence>
            <element name="myObject">
              <complexType>
                <sequence>
                  <element ref="ns0:MyObject" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="UpdateResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="DeleteRequest">
        <complexType>
          <sequence>
            <element name="myObject">
              <complexType>
                <sequence>
                  <element ref="ns0:MyObject" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="DeleteResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="MyObjectResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetByIdRequest">
    <part name="parameters" element="tns:GetByIdRequest" />
  </message>
  <message name="GetByIdResponse">
    <part name="parameters" element="tns:GetByIdResponse" />
  </message>
  <message name="CreateRequest">
    <part name="parameters" element="tns:CreateRequest" />
  </message>
  <message name="CreateResponse">
    <part name="parameters" element="tns:CreateResponse" />
  </message>
  <message name="UpdateRequest">
    <part name="parameters" element="tns:UpdateRequest" />
  </message>
  <message name="UpdateResponse">
    <part name="parameters" element="tns:UpdateResponse" />
  </message>
  <message name="DeleteRequest">
    <part name="parameters" element="tns:DeleteRequest" />
  </message>
  <message name="DeleteResponse">
    <part name="parameters" element="tns:DeleteResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="MyObjectPortType" wsrp:ResourceProperties="tns:MyObjectResourceProperties">
    <operation name="getById">
      <input message="tns:GetByIdRequest" wsa:Action="http://service.reference.iso21090.nci.nih.gov/entities/MyObject/GetByIdRequest" />
      <output message="tns:GetByIdResponse" wsa:Action="http://service.reference.iso21090.nci.nih.gov/entities/MyObject/GetByIdResponse" />
    </operation>
    <operation name="create">
      <input message="tns:CreateRequest" wsa:Action="http://service.reference.iso21090.nci.nih.gov/entities/MyObject/CreateRequest" />
      <output message="tns:CreateResponse" wsa:Action="http://service.reference.iso21090.nci.nih.gov/entities/MyObject/CreateResponse" />
    </operation>
    <operation name="update">
      <input message="tns:UpdateRequest" wsa:Action="http://service.reference.iso21090.nci.nih.gov/entities/MyObject/UpdateRequest" />
      <output message="tns:UpdateResponse" wsa:Action="http://service.reference.iso21090.nci.nih.gov/entities/MyObject/UpdateResponse" />
    </operation>
    <operation name="delete">
      <input message="tns:DeleteRequest" wsa:Action="http://service.reference.iso21090.nci.nih.gov/entities/MyObject/DeleteRequest" />
      <output message="tns:DeleteResponse" wsa:Action="http://service.reference.iso21090.nci.nih.gov/entities/MyObject/DeleteResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

